.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: transparent;

    position: relative;
    z-index: 1;
  }
.nav-links img{
    height: 25px;
    width: auto;
    margin-right: 4px;
}
  .nav-logo img {
    height: 40px;
    width: auto;
    border-radius: 12%;
  }
  
  .search-container {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 300px;
  font-size: 14px;
  outline: none;
}

.search-button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: -40px;
  
}

.search-button:hover {
  color: #666;
}

  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
  }
  
  .nav-links a:hover {
    color: #e8cf69;
  }
  
  .nav-links a.active-link {
    color: #e6bb0e;
    font-weight: bold;
    border-bottom: 2px solid #ffdd57;
  }
  
@media screen and (max-width: 768px) {
  .search-container {
    display: none; 
  }
  
  .search-container {
    margin: 0 10px;
  }

  .search-input {
    width: 150px; 
    padding: 6px 10px; 
    font-size: 12px; 
  }

  .search-button {
    padding: 6px 10px;
    margin-left: -35px;
  }
}


@media screen and (max-width: 480px) {
  .search-container {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #b0bcbc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .search-input {
    width: 100%; 
  }
}
