<div class="template">
  <img src="../../assets/icons/composition-black-friday-shopping-cart-with-copy-space.jpg" class="animated-image" />
  <div class="overlay-card">
    <h2>Special Offers</h2>
    <p>Get the best deals on our top products!</p>
  </div>
</div>
<!-- <div *ngIf="filteredProducts.length > 0; else noProducts" class="products-container"> -->
  <h2 class="products-header">Products List</h2>
  <div class="products-grid">
    <div *ngFor="let product of filteredProducts| paginate: { itemsPerPage: itemsPerPage, currentPage: p }"
      class="product-card">
      <div>
      <button (click)="toggleWishlist(product)" class="wishlist-button">
        <span *ngIf="isInWishlist(product)">❤️</span>
        <span *ngIf="!isInWishlist(product)">🤍</span>
      </button></div>
      <h3 class="product-name">{{ product.productName }}</h3>
      <p class="product-quantity">Quantity: <strong>{{ product.quantity }}</strong></p>
      <p class="product-quantity">Price: <strong>{{ product.price }}</strong></p>
      <p class="product-status">
        Status:
        <span [class.active]="product.isActive" [class.inactive]="!product.isActive">
          {{ product.isActive ? 'Active' : 'Inactive' }}
        </span>
      </p>
      <button (click)="addToCart(product)" class="order-button">Add to Cart</button>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls class="pgctrl" (pageChange)="p = $event"></pagination-controls>
  </div>
<!-- </div> -->

<ng-template #noProducts>
  <div class="no-products">
    <p>No products available.</p>
  </div>
</ng-template>